
<div></div>
<div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">Good afternoon !</h1>
          <p class="col-md-8 fs-4">Welcome To Your Dashboard!</p>
        </div>
</div>
    <h3>My Google Maps Demo</h3>

  <div id="map" onload="initialize()"></div>

  <div id="latlong">
    <p>Latitude: <input size="20" type="text" id="latbox" name="lat" ></p>
    <p>Longitude: <input size="20" type="text" id="lngbox" name="lng" ></p>
  </div>


  <script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCsR_rdIwpy2ytdRAFoYmU1hlNCRcZd3e4&callback=initMap">
</script>
  <script src="/js/googlemaps.js"></script>
