<div class="row">
  <div class="col-md-6">
    <div id='containerL' class="containerL">
    <h2>Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group ">
        <div class="row loginBtn">
        <button id='toggle' class="btn btn1 pointer" type="submit">Login</button>
</div>
</div>
      </form>
  </div>
  </div>

    <div class="col-md-6">
        <div id='containerS' class="containerS">
    <h2>Signup</h2>
    <div class="container">
    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">Name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group signup">
        <div class="row loginBtn">
        <button class="btn btn2 pointer" type="submit">Signup</button>
      </div>
      </div>
    </form>
  </div>
  </div>
</div>
</div>
</div>
<script src="./js/login.js"></script>
