<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <link href="https://fonts.googleapis.com/css2?family=Cabin&family=Syne:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Cabin&family=Marhey&family=Syne:wght@400;700&display=swap" rel="stylesheet">
    <title>Login</title>
</head>
<body>
    <div class="main-container">
        <div class="left-container">
            <div class="signup-form-container" id="signup-form-container">
                <div class="form-header">
                    <h1>Hot Reels</h1>
                    <p>Your new favorite fishing app!</p>
                </div>
                <form id="signup-form">
                    <div class="form-group">
                        <label for="signup-username">Username:</label>
                        <input class="form-input" type="text" id="signup-username" placeholder="Enter your username">
                    </div>

                    <div class="form-group">
                        <label for="signup-email">Email:</label>
                        <input class="form-input" type="email" id="signup-email" placeholder="Enter your email">
                    </div>

                    <div class="form-group">
                        <label for ="signup-password">Password:</label>
                        <input class="form-input" type="password" id="signup-password" placeholder="Enter your password">
                    </div>
                    <div class="form-group">
                        <input type="submit" id="signup-submit" value="Create Account">
                    </div>
                    <p class="form-message">Already have an account? <span class="login-here-span">Login here!</span></p>
                </form>
            </div>
            <div class="login-form-container hide" id="login-form-container">
                <div class="form-header">
                    <h1>Hot Reels</h1>
                    <p>You're back! Catch anything good?</p>
                </div>
                <form id="login-form">
                    <div class="form-group">
                        <label for="signup-email">Email:</label>
                        <input class="form-input" type="email" id="signup-email" placeholder="Enter your email">
                    </div>
                    <div class="form-group">
                        <label for ="signup-password">Password:</label>
                        <input class="form-input" type="password" id="signup-password" placeholder="Enter your password">
                    </div>
                    <div class="form-group">
                        <input type="submit" id="login-submit" value="Log in">
                    </div>
                    <p class="form-message">Don't have an account? <span class="signup-here-span">Create account!</span></p>
                </form>
            </div>
        </div>
        <div class="right-container">
            <img src="./images/manfishinglake.webp">
        </div>
    </div>
</body>
<script src="login.js"></script>
</html>