*{
    margin: 0;
    padding:0;
}
body{
    min-height:100vh;
}
section{
    font-family: 'Cabin', sans-serif;
}
.banner{
    display:flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    width:90%;
    margin: 10px auto;
    background-color: rgb(242, 232, 220);
    border-radius:8px;
    margin-bottom:12px;
}
.text-container{
    width:55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:16px;
}
/* .text-container > button {
    width:200px;
} */
.image-container {
    max-width:510px;
    padding:4px;
}
.image-container > img{
    width:100%;
}
.section-title{
    width:90%;
    margin: 10px auto;
}
.widget-container{
    background-color: rgb(242, 232, 220);
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width:90%;
    margin: 0 auto;
    /* border:1px solid red; */
    border-radius:8px;
    padding:30px 10px;
}
.widget{
    display:flex;
    align-items: center;
    width:400px;
    min-width:300px;
    padding:30px;
    /* border: 2px solid red; */
    border-radius:4px;
    border-top:5px solid #ffa500;
    margin:8px;
    background-color: white;
    justify-content: space-around;
    box-shadow: 0px 4px 6px 0px rgba(50,50,93,0.11) , 0px 1px 3px 0px rgba(0,0,0,0.08);
}

.widget-icon, .widget-text{
    margin: 0px 10px;
}
.widget-text > p{
    color:gray;
}
.icon-container{
    margin-top:-10px;
    background-color: rgba(255, 166, 0, 0.548);
    height:80px;
    width:80px;
    border-radius: 50%;
    overflow: hidden;
}
.icon-container > img{
    width:100%;
}
.data-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width:90%;
    margin: 10px auto;
    border-radius:8px;
    background-color: rgb(242, 232, 220);
    padding:35px 5px;
}
.table-container{
    width:60%;
    min-width:400px;
    /* border:1px solid blue; */
}
.google-maps-container{
    min-width:400px;
    
}

table{
    margin:8px 0px;
    min-width:400px;
    border-collapse: collapse;
    width:100%;
    box-shadow: 0px 4px 6px 0px rgba(50,50,93,0.11) , 0px 1px 3px 0px rgba(0,0,0,0.08);
}
thead{
    padding:20px; 
    background-color: rgb(116, 136, 86);
    font-weight: 400;
    /* font-size:1.05em; */
}
th{
    color:white;
    padding:15px;
    font-weight: 400;
}
th:nth-of-type(4){
    max-width:300px;
}
tbody{
    background-color: white;
}
.catch-data {
    font-size: 1.10em;
    border-bottom:2px solid rgb(238, 238, 238);
}
.catch-data > td{
    padding:10px;
    /* border:1px solid red; */
}
td{
    font-size: 0.95em;
}
td:nth-of-type(4){
    max-width:300px;
}
td:nth-of-type(5){
    text-align: center;
}
.delete-btn{
    text-align: center;
}
tr th:nth-child(1) {
    border-radius: 6px 0 0 0;
}
tr th:nth-child(5) {
    border-radius: 0 6px 0 0;
}
.delete-btn{
    font-size:0.80em;
    cursor: pointer;
}
.button-container{
    position:fixed;
    bottom:2%;
    right:2%;
}
.button-container > button {
    width:55px;
    height:55px;
    border-radius: 50%;
    box-shadow: 0px 4px 6px 0px rgba(50,50,93,0.11) , 0px 1px 3px 0px rgba(0,0,0,0.08);
    background-color: orange !important;
    border:none;
}
button > img{
    width:80%;
}
.button-container > button:hover{
    background-color: rgb(221, 144, 0)!important;
}
.button-container > button:active{
    transform: scale(0.95);
    background-color: rgb(199, 129, 0)!important;
}
.modal-content{
    font-family: 'Cabin', sans-serif;
    font-size: 1.05em;
    max-width:400px;
    margin: 0 auto;
}
.modal-body{
    /* border:1px solid red; */
    padding:20px;
}
form{
    display:flex;
    flex-direction: column;
    padding:0px 30px;
    padding-bottom:10px;
}
#fish-select, #fish-length, #fish-weight, #fish-location{
    margin:10px 0px;
    padding:4px;
}
#fish-select{
    padding:7px;
}
#submit{
    width:75%;
    margin: 10px auto;
    padding:6px;
    border-radius:4px;
}