header,
.project:not(:last-child) {
  border-bottom: 1px solid #ccc;
  width: 100%;
  height: 70px;
  background-color: #282828;
}

h1 {
  position: absolute;
  padding: 3px;
  float: left;
  margin-left: 2%;
  margin-top: 10px;
  color: #82ca9f;
}

ul {
  width: auto;
  float: right;
  margin-top: 8px;
}

li {
  display: inline-block;
  padding: 15px 30px;
}

a {
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1.2vw;
}

a:hover {
  color: #f0c330;
  transition: 0.5s;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.containerL {
  height: 475px;
  width: 600px;
  margin-top: 75px;
  border-style: solid;
  border-color: black;
  padding: 20px;
}

.containerS {
  height: 475px;
  width: 600px;
  margin-top: 75px;
  border-style: solid;
  border-color: black;
  padding: 20px;
}

h2 {
  display: flex;
  justify-content: center;
}

.btn1 {
  display: flex;
  justify-content: center;
  background-color: grey;
  width: 175px;
  margin-top: 50px;
}

.btn2 {
  display: flex;
  justify-content: center;
  background-color: grey;
  width: 175px;
  margin-top: 25px;
}


.loginBtn {
  position: relative;
  justify-content: space-evenly;
}

.pointer {
  cursor: pointer;
}


/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

.login-button {
  float: right;
  color: #c85b5b;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  width: 100px;
  font-size: 14px;
}

#map {
  height: 400px;
  width: 80%;
}
