header,
.project:not(:last-child) {
  border-bottom: 1px solid #ccc;
  width: 100%;
  height: 70px;
  background-color: #282828;
}

h1 {
  position: absolute;
  padding: 3px;
  float: left;
  margin-left: 2%;
  margin-top: 10px;
  color: #82ca9f;
}

ul {
  width: auto;
  float: right;
  margin-top: 8px;
}

li {
  display: inline-block;
  padding: 15px 30px;
}

a {
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1.2vw;
}

a:hover {
  color: #f0c330;
  transition: 0.5s;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.containerL {
  position: relative;
  justify-content: center;
  height: 450px;
  width: 600px;
  margin-top: 75px;
  margin-left: 325px;
  border-style: solid;
  border-color: black;
  padding: 20px;
}

.containerS {
  position: relative;
  justify-content: center;
  height: 450px;
  width: 600px;
  margin-top: 75px;
  margin-left: 325px;
  border-style: solid;
  border-color: black;
  padding: 20px;
  flex-wrap: wrap;
  visibility: hidden;
}

h2 {
  display: flex;
  justify-content: center;
}

.signUp {
  visibility: inherit;
}

.hide {
  display: none;
}

.btn1 {
  display: flex;
  justify-content: center;
  background-color: grey;
  width: 175px;
  margin-top: 50px;
}

#btn2 {
  display: flex;
  justify-content: center;
  background-color: grey;
  width: 175px;
  margin-top: 50px;
}

.loginBtn {
  position: relative;
  justify-content: space-evenly;
}

.pointer {
  cursor: pointer;
}
